.App{
  min-height: 100vh;
  background-color: #deecdd;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.restaurants{
  margin-left:100px;
  font-family: 'Poppins', sans-serif;
  animation: drop 2s ease;
}

.title{
  animation: drop 1.5s ease;
}

@keyframes drop {
  0%{
    opacity: 0;
    transform: translateY(-80px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}