* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
}

.logo-container,.nav-links,.cart{
    display: flex;
    background-color: #232323;
}


.logo-container{
    font-size: 18px;
    flex: 1;
}

.logo{
    color: #deecdd;
    justify-content: space-around;
    font-weight: 400;
    margin: 5px;
}

nav{
    flex: 2;
}

.nav-links{
    justify-content: space-around;
    list-style: none;
}
.nav-link{
    color: #deecdd;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
}

.cart{
    flex: 1;
}