.loc-container{
    position:relative;
    width: 400px;
    height: fit-content;
    background: #232323;
    border-radius: 20px;
    overflow:hidden;
    width: 300px;
}

.loc-container .loc-card{
    position: relative;
    width: 100%;
    padding-left: 15px;
    height: fit-content;
    background: #232323;
    border-radius: 20px;
    overflow:hidden;
    list-style: none;
}

.info{
    padding-left: 5px;
    list-style:none;
    color: #9bdc28;
}

h3{
    color:white;
}